body {
  background-color: #00c6ad;
  padding: 5px;
}

.inner-body {
  width: 900px;
  background-color: white;
  padding: 100px 30px;
  /* margin: 0px 30px; */
}
.title-bar {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  font-weight: 600;
  margin: 40px 30px;
}

.song-bar {
  padding: 50px 0px;
  display: flex;
  margin-left: 30px;
  /* justify-content: space-between; */
}

.song-bar__column__bg {
  width: 280px;
  height: 300px;
  border-radius: 50px;
  background-color: #ffbd11;
  border: 3px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.song-bar__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.song-bar__column__title {
  font-size: 100px;
  font-weight: bold;
  line-height: 110px;
}

.song-bar__column__artist {
  font-size: 40px;
  margin-top: 20px;
  font-weight: 600;
}

.button-bar {
  height: 200px;
  margin: 0px 30px;
  margin-right: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.play-button {
  width: 400px;
  height: 140px;
  border-radius: 20px;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  padding: 50px 130px;
  background-color: white;
  font-weight: bold;
  box-shadow: black 0 10px 4px;
}

.heart-button,
.plus-button {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: white;
  font-size: 60px;
  box-shadow: black 0 10px 4px;
}

.song-bar-sm {
  /* padding: 50px 0px; */
  display: flex;
  margin-left: 30px;
  margin-top: 70px;
  /* justify-content: space-between; */
}

.song-bar-sm__column__bg {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  border: 3px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.color-red {
  background-color: #f85a2a;
}

.color-pink {
  background-color: #ff89bb;
}

.color-blue {
  background-color: #1947e5;
}

.color-green {
  background-color: #00c6ad;
}
.song-bar-sm__column:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.song-bar-sm__column__title {
  font-size: 50px;
  font-weight: bold;
}

.song-bar-sm__column__artist {
  font-size: 30px;
  margin-top: 10px;
  color: grey;
}
