* {
  box-sizing: border-box;
}

.title-box {
  width: 100%;
  height: 275px;
  background-color: #fcce32;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  width: 90%;

  font-size: 50px;
}

.search-bar {
  width: 90%;
  position: relative;
  top: 110px;
}

.search-button {
  width: 100%;
  height: 125px;
  border-radius: 100px;
  position: relative;

  border: none;
  box-shadow: grey 0 0px 4px;
  font-size: 30px;
  padding: 45px 70px;
}

.search-bar i {
  position: absolute;
  top: 63px;
  right: 50px;
  color: grey;
  opacity: 0.3;
  font-size: 30px;
}
.search-button::placeholder {
  /* position: absolute; */

  color: grey;
  opacity: 0.3;
  /* top: 45px;
  left: 70px; */
}
